* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
body h1{
      text-decoration: underline;
    text-align: center;
    font-size: 100px;
    padding: 50px 50px;
    color: red;
}
.stopwatch {
  background-color: rgb(0, 0, 0, 0.9);
  padding: 20px 24px;
  border-radius: 10px;
}
.timerDisplay {
  font-size: 50px;
  font-weight: 600;
}
.buttons {
  margin-top: 20px;
}
.btn {
  font-size: 20px;
  background: none;
  border: none;
  color: #ffffff;
  background-color: var(--clr);
  padding: 12px 24px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
